@model IEnumerable<CodeTale.Models.Comment>
@using CodeTale.Models;
@{
    ViewBag.Title = "Index";
}
<h3>Comments List</h3>
<ul>
    @foreach (Comment cmt in Model)
    {
        <li>
            @cmt.Commentstmt <br />
        </li>
    }
</ul>

@Html.ActionLink("write your comment here", "writecmt", "SeeComments", new { algorithmId = ViewBag.algorithmId }, null)<br />
@Html.ActionLink("Back to Algorithm ", "Index", "SeeAlgorithms")<br />