@model IEnumerable <CodeTale.Models.Category>
@using CodeTale.Models

@{
    ViewBag.Title = "Index";
}

<h2>SeeCategories</h2>
<ul>
    @foreach (Category category in Model)
    {
        <li>
            @Html.ActionLink(category.CategoryName, "Index", "SeeQuestions", new { categoryId = category.CategoryId }, null);
        </li>
    }
</ul>